@{
    ViewData["Title"] = "Set up business ";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can set your business settings</p>

    @using (Html.BeginForm("SetMeAvailable", "seller", FormMethod.Post)) { 
    @model BookingSystem.DTOs.TimeFrameDto
            <legend>Business hours</legend>
            <div>
                <label for="From">From:</label>
                @Html.EditorFor(model => model.StartTime)

            </div>
            <div>
                <label for="To">To:</label>
                @Html.EditorFor(model => model.EndTime)
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Add" class="submit" />
            </div>
        }
</div>

