@using (Html.BeginForm("AddNewService", "seller", FormMethod.Post))
{
    @model BookingSystem.DTOs.ServiceDto
    <div>
        <label for="From">Service name:</label>
        @Html.EditorFor(model => model.Type)
    </div>
    <div>
        <label for="To">Durration in minutes:</label>
        @Html.EditorFor(model => model.DurrationMinutes)
    </div>
    <div>
        @Html.ValidationMessage("CustomError")
    </div>

    @if (TempData["serviceAddSuccess"] != null)
    {
        <div id="SuccessMessage">@Html.Encode(TempData["serviceAddSuccess"])</div>
    }
    <div>
        <label>&nbsp;</label>
        <input type="submit" value="Add" class="submit" />
    </div>
}
